* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

/* nav {
    background-color: #d097a6;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    display: inline-block;
}

.nav-list {
    list-style: none;
    padding: 5px;
}

.nav-list li {
    background-color: #495E57;
    border: 2px solid #45474B;
    display: inline-block;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: #F4CE14;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}*/

.nav-logo {
    /* display: inline-block;
    vertical-align: middle; */
    width: 15%;
}

.nav-logo img {
    /* display: block; */
    width: 100%;
}

main {
  text-align: center;
}



.hero-container{
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: inline;
}

.hero-container article{
  padding: 10px;
}

.card-hero{
  display: inline-block;
  /* height: 400px; */
  width: 100%;
  background-color:#F5F7F8;
}

.card-header{
  width: 44%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.card-header img{
  margin-top: 10px;
  border: solid 5px;
  width: 50%;
}

.card-container{
  width: 55%;
  height: 100%;
  display: inline-block;
  padding: 10px;
  color: black;
  vertical-align: top;
  text-align: left;
  
}

.card-container li{
  list-style-image: url(../assets/images/icon_list.png);
  list-style-position: inside;
}
/* FOOTER */
/* footer {
  width: 100%;
  margin-top: 20px;
  border-top: 2px #45474B solid ;
  padding: 10px;
  background-color: #F5F7F8;
}

footer img{
  height: 50px;
}

footer p{
  display: inline-block;
  color: #45474B;
  text-align: right;
}
.redes {
  display: inline-block;
  vertical-align: middle;
} */
/* FIN FOOTER */
form {
  display: block;
  width: 100%;
  padding: 10px 10px;
  background-color: antiquewhite
}

.formulario .campo {
display: block;
position: relative;
width: 90%;
margin: 10px auto;
padding: 30px 10px 10px;
background: #495E57;
border-radius: 5px;
}

.formulario .campo input {
display: block;
width: 100%;
border-radius: 5px;
border: 0;
padding: 10px 10px;
font-size: 18px;
}

.formulario .campo textarea {
display: block;
width: 100%;
border-radius: 5px; 
border: 0;
padding: 10px 10px;
font-size: 18px;
}

.formulario .campo label {
display: block;
position: absolute;
top: 10px;
border-radius: 5px; 
padding: 5px 5px;
background-color: white
}

.formulario button {
font-size: larger;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border-radius: 5px;
padding: 10px 10px 10px 10px;
background-color: #495E57;
color:#F5F7F8;
}

.about{
  display: inline-block;
  width: 90%;
  text-align: center;
}

.acercade{
  height: 400px;
  margin: 20px;
  background-color: #F5F7F8;
  overflow-y: auto;
}
.about article{
  width: 30%;
  display: inline-block;
  border: 5px black solid;
  border-radius: 20px;
}

.about img{
  width: -webkit-fill-available; /*PREGUNTAR POR ESTO*/
  height: auto;
  display: inline;
  border-radius: 20px;
}

.error404{
  width: 100%;
}
.error404 img{
  width: 100%;
  padding: 2px;
  border: 10px solid black;
}