// Bucle @for para generar las reglas CSS
@for $i from 20 through 100 {
    .w-#{$i} {
      width: 1% * $i;
    }
}


//color
$color: #d097a6;
// Bucle para generar las variaciones de tono
@for $i from 1 through 5{
    .color-#{$i} {
    background-color: lighten($color, 5% * $i);
    color: darken($color, 5% * $i);
    }
}

//mixin
@mixin redondeado($border-radius) {
    border-radius: $border-radius;
}

@mixin animacion-rotacion-hover {
    transform: rotate(10deg) scale(1.2);
	transition: .2s ease-in-out;
}

@mixin animacion-rotacion {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

@mixin animacion-zoom-hover {
    transform: scale(1.2);
	transition: .2s ease-out;
    z-index: 1;
    position: relative;
}

@mixin animacion-zoom {
	-webkit-transform: scale(1);
	transform: rotate(0) scale(1);
}