/*acerca de*/
.about{
    display: inline-block;

        article{
            display: inline-block;
            background-color: $blancotransparente;
            @include animacion-zoom;
                &:hover{
                    @include animacion-zoom-hover
                }
            p{
                margin: 0%;
            }
        }
        img{
            width: 100%; 
            height: auto;
            display: inline-block;
            @include redondeado(80px);
        }
}

.p-especial{
    margin: 20px;
    background-color: $blancotransparente;
    overflow-y: auto;
    text-align: justify;
}