.card-hero{
    background-color: rgba(0, 0, 0, 0.125);
}

.card-container li{
    list-style: none;
    list-style-position: inside;
}

.font-honk{
    font-family: 'Honk', sans-serif;
}

.rampart-one-regular {
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
}