.error404{
    width: 100%;
        img{
            width: 100%;
            padding: 50px;
        }
        p
        {
            text-align: center;
            margin: 0;
            font-size: 1rem;
        }
}